<body>

    <!-- <div th:replace="fragments/fragments :: header"></div> -->
    <div class="container" th:fragment="header">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a th:href="@{/produto}">
                    <img th:src="@{/static/img/logo.png}" class="img-fluid" alt="Imagem responsiva"
                        style="height: 100px;">
                </a>
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div sec:authorize="!isAuthenticated()" class="col-md-6" style="text-align: center;">
                        <a th:href="@{/usuario/login}">
                            <ion-icon name="log-in-outline" size="large"></ion-icon>
                            <spam>login</spam>
                        </a>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="col-md-6" style="text-align: center;">
                        <div sec:authorize="hasRole('ROLE_CLI')">
                            <a th:href="@{/cliente/cli/perfil}">
                                <ion-icon name="person-circle-outline" size="large"></ion-icon>
                                <spam>Perfil</spam>
                                <span sec:authentication="name"></span>
                            </a>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADM')">
                            <a th:href="@{/adm/visaoGeral}">
                                <ion-icon name="person-circle-outline" size="large"></ion-icon>
                                <spam>Perfil</spam>
                                <span sec:authentication="name"></span>
                            </a>
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="col-md-6" style="text-align: center;">
                        <div sec:authorize="hasRole('ROLE_CLI')">
                            <a th:href="@{/cliente/carrinho}">
                                <ion-icon name="cart-outline" size="large"></ion-icon>
                                <spam>Carrinho</spam>
                            </a>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADM')">
                            <a th:href="@{/logout}">
                                <ion-icon name="exit-outline" size="large"></ion-icon>
                                <spam>Sair</spam>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div th:replace="fragments/fragments :: menu-cli"></div> -->
    <div class="col-md-3" th:fragment="menu-cli">
        <div class="row">
            <div class="list-group col-md-12">
                <button type="button"
                    th:class="${#httpServletRequest.getRequestURI() == '/cliente/cli/perfil'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}">
                    <a th:href="@{/cliente/cli/perfil}"
                        th:style="${#httpServletRequest.getRequestURI() == '/cliente/cli/perfil'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <span>Visão Geral</span>
                    </a>
                </button>
                <button type="button"
                    th:class="${#httpServletRequest.getRequestURI() == '/cliente/cli/editarPerfil'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}">
                    <a th:href="@{/cliente/cli/editarPerfil}"
                        th:style="${#httpServletRequest.getRequestURI() == '/cliente/cli/editarPerfil'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                        <ion-icon name="pencil-outline"></ion-icon>
                        Editar Perfil
                    </a>
                </button>
                <button type="button"
                    th:class="${#httpServletRequest.getRequestURI() == '/cliente/cli/mudarSenha'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}">
                    <a th:href="@{/cliente/cli/mudarSenha}"
                        th:style="${#httpServletRequest.getRequestURI() == '/cliente/cli/mudarSenha'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                        <ion-icon name="lock-open-outline"></ion-icon>
                        Mudar Senha
                    </a>
                </button>
                <button
                    th:class="${#httpServletRequest.getRequestURI() == '/cliente/cli/acompanharPedidos'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}"
                    type="button">
                    <a th:href="@{/cliente/cli/acompanharPedidos}"
                        th:style="${#httpServletRequest.getRequestURI() == '/cliente/cli/acompanharPedidos'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                        <ion-icon name="bag-handle-outline"></ion-icon>
                        Acompanhar Pedidos
                    </a>
                </button>
                <button
                    th:class="${#httpServletRequest.getRequestURI() == '/cliente/cli/cupoms'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}"
                    type="button">
                    <a th:href="@{/cliente/cli/cupoms}"
                        th:style="${#httpServletRequest.getRequestURI() == '/cliente/cli/cupoms'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                        <ion-icon name="ticket-outline"></ion-icon>
                        Cupoms
                    </a>
                </button>
                <button class="list-group-item list-group-item-action" type="button">
                    <a th:href="@{/logout}" style="text-decoration: none; color: blue;">
                        <ion-icon name="exit-outline"></ion-icon>
                        Logout
                    </a>
                </button>
            </div>
        </div>
    </div>

    <!-- <div th:replace="fragments/fragments :: menu-adm"></div> -->
    <div class="row" th:fragment="menu-adm">
        <div class="list-group col-md-12">
            <button type="button"
                th:class="${#httpServletRequest.getRequestURI() == '/adm/visaoGeral'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}">
                <a th:href="@{/adm/visaoGeral}"
                    th:style="${#httpServletRequest.getRequestURI() == '/adm/visaoGeral'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <span>Visão Geral</span>
                </a>
            </button>
            <button type="button"
                th:class="${#httpServletRequest.getRequestURI() == '/adm/produtos'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}">
                <a th:href="@{/adm/produtos}"
                    th:style="${#httpServletRequest.getRequestURI() == '/adm/produtos'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                    <ion-icon name="laptop-outline"></ion-icon>
                    Produtos
                </a>
            </button>
            <button type="button"
                th:class="${#httpServletRequest.getRequestURI() == '/adm/clientes'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}">
                <a th:href="@{/adm/clientes}"
                    th:style="${#httpServletRequest.getRequestURI() == '/adm/clientes'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                    <ion-icon name="person-outline"></ion-icon>
                    Clientes
                </a>
            </button>
            <button
                th:class="${#httpServletRequest.getRequestURI() == '/adm/cupoms'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}"
                type="button">
                <a th:href="@{/adm/cupoms}"
                    th:style="${#httpServletRequest.getRequestURI() == '/adm/cupoms'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                    <ion-icon name="ticket-outline"></ion-icon>
                    Cupons
                </a>
            </button>
            <button
                th:class="${#httpServletRequest.getRequestURI() == '/adm/pedidos'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}"
                type="button">
                <a th:href="@{/adm/pedidos}"
                    th:style="${#httpServletRequest.getRequestURI() == '/adm/pedidos'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                    <ion-icon name="clipboard-outline"></ion-icon>
                    Pedidos
                </a>
            </button>
            <button
                th:class="${#httpServletRequest.getRequestURI() == '/adm/dados'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}"
                type="button">
                <a th:href="@{/adm/dados}"
                    th:style="${#httpServletRequest.getRequestURI() == '/adm/dados'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                    <ion-icon name="pie-chart-outline"></ion-icon>
                    Dados
                </a>
            </button>
            <button
                th:class="${#httpServletRequest.getRequestURI() == '/adm/cadastro'?'list-group-item list-group-item-action active':'list-group-item list-group-item-action'}"
                type="button">
                <a th:href="@{/adm/cadastro}"
                    th:style="${#httpServletRequest.getRequestURI() == '/adm/cadastro'?'text-decoration: none; color: white;': 'text-decoration: none; color: blue;'}">
                    <ion-icon name="person-add-outline"></ion-icon>
                    Cadastro
                </a>
            </button>
        </div>
    </div>
    <!-- <div th:replace="fragments/fragments :: compra-detail"></div> -->
    <!-- requer objeto compra:Compra -->
    <div class="row" th:fragment="compra-detail">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th class="col">
                        Nome do Produto
                    </th>
                    <th class="col">
                        Quantidade
                    </th>
                    <th class="col">
                        Preco Unitário
                    </th>
                    <th class="col">Frete</th>
                    <th class="col">Total Item</th>
                    <td colspan="1">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${compra.itens}">
                        <th class="row">
                            <span
                                th:text="${item.produto.notebook.marca + ' ' + item.produto.notebook.modelo}"></span>
                        </th>
                        <td class="col">
                            <span th:text="${item.quantidade}">1</span>
                        </td>
                        <td>
                            <span th:text="${'R$' + item.produto.precoDeVenda}"></span>
                        </td>
                        <td>
                            <span th:text="${'R$' + (item.frete!=null?item.frete.valor:'não calculado') }"></span>
                        </td>
                        <td>
                            <span th:text="${'R$' + item.totalItem}"></span>
                        </td>
                        <th scope="col" th:style="${'color: ' + item.status.color}" th:text="${item.status.descricao}"></th>
                    <td>
                        <div sec:authorize="hasRole('ROLE_CLI')" th:if="${item.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).ENTREGUE}">
                            <a th:href="@{'/compra/cli/detalheCompra/' + ${compra.id} + '/item/' + ${item.id} }">
                                <button class="btn btn-danger">
                                    Solicitar troca!
                                </button>
                            </a>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADM')" th:if="${item.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).EM_TROCA || item.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).TROCA_AUTORIZADA}">
                            <a th:href="@{'/adm/pedidos/detalhe/' + ${compra.id} + '/item/' + ${item.id} }">
                                <button class="btn btn-primary">
                                    Detalhes Troca!
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr class="table-primary">
                    <th class="row">
                        Endereco de entrega
                    </th>
                </tr>
                <tr>
                    <td class="row"
                        th:text="${compra.frete.endereco.rua + ', ' + compra.frete.endereco.numero + ' ' + compra.frete.endereco.cidade.nome + '/' + compra.frete.endereco.cidade.estado.descricao}">
                    </td>
                    <td th:text="${compra.frete.endereco.cep}">
                    </td>
                </tr>
                <tr class="table-info">
                    <th class="col" colspan="2">
                    </th>
                    <th class="col" th:text="${compra.valorDeCompra}">
                    </th>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="3">Status:</th>
                    <th scope="col" th:style="${'color: ' + compra.status.color}" th:text="${compra.status.descricao}">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pagamento : ${compra.pagamentos}">
                    <th scope="row" th:text="${pagamento.cartao.nome}"></th>
                    <td th:text="${pagamento.cartao.numero}"></td>
                    <td><img th:src="${pagamento.cartao.bandeira.imagem}"></td>
                    <td th:text="${pagamento.valor}"></td>
                </tr>
                <tr th:each="cupom : ${compra.cupomsDeTroca}">
                    <th>Cupom de Troca</th>
                    <td colspan="2" scope="row" th:text="${cupom.codigo}"></td>
                    <td th:text="${cupom.valor}"></td>
                </tr>
                <tr th:if="${compra.cupomPromocional != null}">
                    <th>Cupom Promocional</th>
                    <td colspan="2" scope="row" th:text="${compra.cupomPromocional.codigo}"></td>
                    <td th:text="${compra.cupomPromocional.valor}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>