<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a href="index.html">
                    <img src="../static/img/logo.png" class="img-fluid" alt="Imagem responsiva" style="height: 100px;">
                </a>
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <a th:href="@{/cliente/perfil}">
                            <ion-icon name="person-circle-outline" size="large"></ion-icon>
                            <spam>Perfil</spam>
                        </a>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <a th:href="@{/cliente/carrinho}">
                            <ion-icon name="cart-outline" size="large"></ion-icon>
                            <span>carrinho</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <form th:action="@{/compra/realizar-compra}" method="POST" th:object="${compra}">
                <input type="text" th:field="*{cliente.id}" hidden>
                <input type="text" th:field="*{status}" hidden>
                <input type="text" th:field="*{id}" hidden>

            <table class="table" style="background-color: aliceblue;">
                <thead>
                    <tr>
                        <th class="col">
                            Nome do Produto
                        </th>
                        <th class="col">
                            Quantidade
                        </th>
                        <th class="col">
                            Preco Unitário
                        </th>
                        <th class="col">
                            Subtotal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, i : ${compra.itens}">
                        <input type="text" th:field="*{itens[__${i.index}__].id}" hidden>
                        <input type="text" th:field="*{itens[__${i.index}__].produto.id}" hidden>
                        <input type="text" th:field="*{itens[__${i.index}__].status}" hidden>
                        <input type="text" th:field="*{itens[__${i.index}__].quantidade}" hidden>
                        <th class="row">
                            <span th:text="${item.produto.notebook.marca + ' ' + item.produto.notebook.modelo}"></span>
                        </th>
                        <td class="col">
                            <span th:text="${item.quantidade}">1</span>
                        </td>
                        <td>
                            <span th:text="${'R$' + item.produto.precoDeVenda}"></span>
                        </td>
                        <td>
                            <span th:text="${'R$' + item.produto.subtotal}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col">

                        </th>
                        <th class="col">

                        </th>
                        <th class="col">

                        </th>
                        <th class="col">
                            <span th:text="${compra.total}"></span>
                        </th>
                    </tr>
                </thead>
            </table>
            <table class="table align-items-center">
                <thead>
                    <tr>
                        <th class="col" style="width: 20%;">
                            Frete
                        </th>
                        <th class="col" style="width: 60%;">
                            <div class="row">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupEndereco">Endereço de
                                            entrega</label>
                                    </div>
                                    <select th:field="*{frete.endereco.id}">
                                        <option th:if="${compra.frete.endereco.id==null}" value="">Selecione o endereço de entrega</option>
                                        <option th:each="endereco : ${compra.cliente.enderecos}"
                                        th:value="${endereco.id}"
                                            th:text="${endereco.rua + ', ' + endereco.numero + ' - ' + endereco.cep}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </th>
                        <th class="col" style="width: 20%;">
                            <span th:text="${compra.frete.valor!=null?compra.frete.valor:''}"></span>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                    <spam>Voce Pode Cadastrar outro endereço de entrega <a href="adicionarEndereco.html">aqui</a>!
                    </spam>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col" style="width: 85%;">
                            Valor Total
                        </th>
                        <th class="col" style="width: 15%;">
                            <span th:text="${compra.valorDeCompra}"></span>
                        </th>
                    </tr>
                </thead>
            </table>

            <div class="col-md-12 border" style="margin-bottom: 10px;">
                <h3>Cartao de credito</h3>
                <div th:each="cartao, i : ${compra.cliente.cartoes}" class="row col-md-12  align-items-center">
                    <div class="row col-md-6 align-items-center">
                        <div class="col-md-8">
                            <input type="text" th:field="*{pagamentos[__${i.index}__].id}" hidden>
                            <input type="text" th:field="*{pagamentos[__${i.index}__].cartao.id}" hidden>
                            <input type="checkbox" th:field="*{pagamentos[__${i.index}__].habilitado}">
                            <label th:text="${cartao.nome}"></label>
                            <img th:src="*{pagamentos[__${i.index}__].cartao.bandeira.imagem}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control" th:field="*{pagamentos[__${i.index}__].valor}"  placeholder="valor"/>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-outline-secondary">
                        <ion-icon name="add-circle-outline"></ion-icon> <span>Adicionar outro cartão</span>
                    </button>
                </div>
            </div>
            <div class="col-md-12 border" style="margin-bottom: 10px;">
                <h3>Cupom</h3>
                <div class="row col-md-12  align-items-center">
                    <ul>
                        <li>
                            <input type="radio" id="nenhum" th:field="*{cupomPromocional}" value=null>
                            <label for="nenhum">Nenhum</label>
                        </li>
                        <li th:each="cupom, i : ${compra.cliente.cupoms}" th:if="cupom.tipoCupom == ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.tipoCupom.PROMOCIONAL)}">
                            <input type="radio" th:id="${'cupom_' + i.index}" th:field="*{cupomPromocional}" th:value="${cupom.id}">
                            <label th:for="${'cupom' + i.index}"
                                th:text="${'R$'+cupom.valor + ' ' + cupom.tipoCupom.getDescricao()}"></label>
                        </li>
                        <li th:each="cupom, i : ${compra.cliente.cupoms}" th:if="cupom.tipoCupom == ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.tipoCupom.TROCA)}">
                            <input type="checkbox" th:id="${'cupom_' + i.index}" th:field="*{cupomsDeTroca}" th:value="${cupom.id}">
                            <label th:for="${'cupom' + i.index}"
                                th:text="${'R$'+cupom.valor + ' ' + cupom.tipoCupom.getDescricao()}"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <a th:href="@{/cliente/carrinho}">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </a>
                    <button type="submit" class="btn btn-success">Avançar</button>
            </div>
        </form>
        </div>
    </div>
    </div>



    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>
</body>

</html>