<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/js/plugins/bootstrap-4.1.3/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <img src="../static/img/logo.png" class="img-fluid" alt="Imagem responsiva" style="height: 100px;">
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <a href="login.html">
                            <ion-icon name="log-in-outline" size="large"></ion-icon>
                            <spam>login</spam>
                        </a>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <a href="carrinho.html">
                            <ion-icon name="cart-outline" size="large"></ion-icon>
                            <span>carrinho</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div class="col-md-2">
            <div class="row justify-content-center" style="background-color: #e4e3e3;">
                <form class="form-row">
                    <div class="col-md-10 offset-md-1" style="font-size: small;">
                        <div class="title-filter" style="font-size: medium;">
                            <spam style="font-weight: bold">PLACA DE VIDEO</spam>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="MX250" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>NVIDIA GeForce MX250 (2GB)</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="GTX1650" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>NVIDIA GeForce GTX 1650 (4GB)</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="GTX1660TI" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>NVIDIA GeForce GTX 1660Ti (6GB)</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="RTX2060" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam> NVIDIA GeForce RTX 2060 (6GB)</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="RTX2070" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>NVIDIA GeForce RTX 2070 (8GB)</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="RTX2080SUPER" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>NVIDIA GeForce RTX 2080 SUPER (8GB)</spam>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-1" style="font-size: small;">
                        <div class="title-filter" style="font-size: medium;">
                            <spam style="font-weight: bold">PROCESSADOR</spam>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="I5" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Intel® Core i5</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="I7" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Intel® Core i7</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="I9" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Intel® Core i9</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="R3" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>AMD Ryzen 3</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="R5" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>AMD Ryzen 5</spam>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-1" style="font-size: small;">
                        <div class="title-filter" style="font-size: medium;">
                            <spam style="font-weight: bold">TELA</spam>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="1460" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>14” 60Hz</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="1560" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>15” 60 Hz</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="15120" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>15” 120 Hz</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="15144" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>15” 144 Hz</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="17144" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>17” 144 Hz</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="17240" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>17” 240 Hz</spam>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-1" style="font-size: small;">
                        <div class="title-filter" style="font-size: medium;">
                            <spam style="font-weight: bold">SISTEMA OPERACIONAL</spam>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="W10HL" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Windows 10 Home Single Language</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="W10PRO" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Windows 10 Pro</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="LIN" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Linux</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="VOID" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Sem Sistema Operacional</spam>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-1" style="font-size: small;">
                        <div class="title-filter" style="font-size: medium;">
                            <spam style="font-weight: bold">COR</spam>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="CINZA" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Cinza</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="PRETO" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Preto</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="BRANCO" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Branco</spam>
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" type="checkbox" value="PRATA" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                <spam>Prata</spam>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <spam>Ordenar Por:</spam>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" name="select">
                                <option value="valor1">Data de lançamento</option>
                                <option value="valor2" selected>Preço</option>
                                <option value="valor3">Nome</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 slick-slide slick-current slick-active" style="margin-bottom: 20px">
                    <div class="item align-self-center">
                        <div class="col-md-12">
                            <figure>
                                <a href="detalhesProduto.html">
                                    <img class="img-thumbnail"
                                        src="https://images.avell.com.br/media/catalog/product/cache/1/small_image/350x262/9df78eab33525d08d6e5fb8d27136e95/a/5/a52_7__1.jpg"
                                        style="width: 100%; height: 225px; object-fit: cover; object-position: center;">
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <spam style="font-weight: bold;">Avell A52 LIV</spam>
                            <a href="detalhesProduto.html" style="text-decoration: none;">
                                <div class="col-md-12"
                                    style="background-color: #93c157; color: #f8f8ff; text-align: center;">
                                    <span>R$8.000,00</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li>GeForce® GTX 1650 (4GB GDDR6)</li>
                                <li>Intel® Core™ i7</li>
                                <li>15.6” 120Hz</li>
                                <li>16 GB RAM DDR4 </li>
                                <li>1TB HD + 256GB SSD</li>
                                <li>Windows 10 Home Single Language</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="row justify-content-center ">
                                <div class="col-xs-6">
                                    <a class="button" href="carrinho.html">
                                        <button class="btn btn-outline-info">
                                            <ion-icon name="cart-outline" size="small"></ion-icon>
                                            <strong>Adicionar ao Carrinho</strong>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="link comprar">
                                        <button class="btn btn-outline-success">
                                            <ion-icon name="card-outline" size="small"></ion-icon>
                                            <strong>Comprar</strong>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 slick-slide slick-current slick-active" style="margin-bottom: 20px">
                    <div class="row align-self-center">
                        <div class="col-md-12">
                            <figure>
                                <a href="link detalhes">
                                    <img class="img-thumbnail"
                                        src="https://acerstore.vteximg.com.br/arquivos/ids/157525-900-900/A514-53-54_SSD_01.jpg?v=637396830724770000"
                                        style="
                                        width: 100%; height: 225px; object-fit: cover; object-position: center;">
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <spam style="font-weight: bold;">Notebook Acer Aspire 5</spam>
                            <a href="link detalhes" style="text-decoration: none;">
                                <div class="col-md-12"
                                    style="background-color: #93c157; color: #f8f8ff; text-align: center;">
                                    <span>R$8.000,00</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li>GeForce MX350</li>
                                <li>Intel® Core™ i5</li>
                                <li>14” 60Hz</li>
                                <li>8 GB RAM DDR4</li>
                                <li>552GB SSD</li>
                                <li>Windows 10 Home Single Language</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-xs-6">
                                    <a class="button" href="link add carrinho">
                                        <button class="btn btn-outline-info">
                                            <ion-icon name="cart-outline" size="small"></ion-icon>
                                            <strong>Adicionar ao Carrinho</strong>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="link comprar">
                                        <button class="btn btn-outline-success">
                                            <ion-icon name="card-outline" size="small"></ion-icon>
                                            <strong>Comprar</strong>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 slick-slide slick-current slick-active" style="margin-bottom: 20px">
                    <div class="row align-self-center">
                        <div class="col-md-12">
                            <figure>
                                <a href="link detalhes">
                                    <img class="img-thumbnail"
                                        src="https://i.dell.com/is/image/DellContent//content/dam/global-asset-library/Products/Notebooks/Inspiron/14_5490_non-touch/in5490nt_cnb_00055lf110_gy.psd?fmt=pjpg&pscan=auto&scl=1&hei=402&wid=402&qlt=95,0&resMode=sharp2&op_usm=1.75,0.3,2,0&size=402,402"
                                        style="
                                        width: 100%; height: 225px; object-fit: cover; object-position: center;">
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <spam style="font-weight: bold;">Inspiron 14 5000</spam>
                            <a href="link detalhes" style="text-decoration: none;">
                                <div class="col-md-12"
                                    style="background-color: #93c157; color: #f8f8ff; text-align: center;">
                                    <span>R$8.000,00</span>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-12">
                            <ul>
                                <li>GeForce MX230</li>
                                <li>Intel® Core™ i5</li>
                                <li>14” 60Hz</li>
                                <li>8 GB RAM DDR4 </li>
                                <li>256GB SSD</li>
                                <li>Ubuntu Linux 18.4</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-xs-6">
                                    <a class="button" href="link add carrinho">
                                        <button class="btn btn-outline-info">
                                            <ion-icon name="cart-outline" size="small"></ion-icon>
                                            <strong>Adicionar ao Carrinho</strong>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="link comprar">
                                        <button class="btn btn-outline-success">
                                            <ion-icon name="card-outline" size="small"></ion-icon>
                                            <strong>Comprar</strong>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 slick-slide slick-current slick-active" style="margin-bottom: 20px">
                    <div class="row align-self-center">
                        <div class="col-md-12">
                            <figure>
                                <a href="link detalhes">
                                    <img class="img-thumbnail"
                                        src="https://www.navegamer.com.br/image/cache/catalog/Notes%20Gamer/NAVE%20POLARIS%20120hz-600x600.jpg"
                                        style="
                                        width: 100%; height: 225px; object-fit: cover; object-position: center;">
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <spam style="font-weight: bold;">NAVE Polaris GK5NP5</spam>
                            <a href="link detalhes" style="text-decoration: none;">
                                <div class="col-md-12"
                                    style="background-color: #93c157; color: #f8f8ff; text-align: center;">
                                    <span>R$8.000,00</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li>Geforce GTX 1650</li>
                                <li>AMD Ryzen™ 5 4600H</li>
                                <li>15.6” 144Hz</li>
                                <li>16GB RAM DDR4 </li>
                                <li>256GB SSD</li>
                                <li>Windows 10 Home Single Language</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-xs-6">
                                    <a class="button" href="link add carrinho">
                                        <button class="btn btn-outline-info">
                                            <ion-icon name="cart-outline" size="small"></ion-icon>
                                            <strong>Adicionar ao Carrinho</strong>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="link comprar">
                                        <button class="btn btn-outline-success">
                                            <ion-icon name="card-outline" size="small"></ion-icon>
                                            <strong>Comprar</strong>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 slick-slide slick-current slick-active" style="margin-bottom: 20px">
                    <div class="row align-self-center">
                        <div class="col-md-12">
                            <figure>
                                <a href="link detalhes">
                                    <img class="img-thumbnail"
                                        src="https://images.samsung.com/is/image/samsung/br-notebook-odyssey-np800g5m-xg2br-np800g5m-xg2br-black-69947211?$684_547_PNG$"
                                        style="
                                        width: 100%; height: 225px; object-fit: cover; object-position: center;">
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <spam style="font-weight: bold;">Samsumg Odyssey</spam>
                            <a href="link detalhes" style="text-decoration: none;">
                                <div class="col-md-12"
                                    style="background-color: #93c157; color: #f8f8ff; text-align: center;">
                                    <span>R$8.000,00</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li>Geforce GTX 1050</li>
                                <li>Intel® Core™ i7 7700HQ</li>
                                <li>15.6” 60Hz</li>
                                <li>8GB RAM DDR4 </li>
                                <li>256GB SSD + 1TB HD</li>
                                <li>Windows 10 Home Single Language</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-xs-6">
                                    <a class="button" href="link add carrinho">
                                        <button class="btn btn-outline-info">
                                            <ion-icon name="cart-outline" size="small"></ion-icon>
                                            <strong>Adicionar ao Carrinho</strong>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="link comprar">
                                        <button class="btn btn-outline-success">
                                            <ion-icon name="card-outline" size="small"></ion-icon>
                                            <strong>Comprar</strong>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="../static/js/plugins/jquery-3.3.1/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/plugins/popper/popper.min.js"></script>
    <script src="../static/js/plugins/bootstrap-4.1.3/bootstrap.min.js"></script>
</body>

</html>