<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a href="index.html">
                    <img src="../static/img/logo.png" class="img-fluid" alt="Imagem responsiva" style="height: 100px;">
                </a>
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <a href="#">
                            <ion-icon name="key-outline"></ion-icon>
                            <spam>login</spam>
                        </a>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <a th:href="@{/cliente/carrinho}">
                            <ion-icon name="cart-outline" size="large"></ion-icon>
                            <span>carrinho</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-md-center">
        <div class="col-md-4">
            <div class="wrapper">
                <h2 class="form-signin-heading">Login</h2>
                <br>
                <span class="text-danger" th:if="${exception != null}" th:text="${exception}"></span>
                <form class="form-signin text-center" th:action="@{/usuario/login}" th:object="${usuarioDTO}" method="POST">
                    <label for="inputLogin">Login</label>
                    <input type="text" th:class="${#fields.hasErrors('login')?'form-control is-invalid':'form-control'}"
                        id="usu-login" placeholder="Login" th:field="*{login}">
                    <spam class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></spam>
                    <br>
                    <label for="inputSenha">Senha</label>
                    <input type="text" th:class="${#fields.hasErrors('senha')?'form-control is-invalid':'form-control'}"
                        id="usu-senha" placeholder="Senha" th:field="*{senha}">
                    <spam class="text-danger" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></spam>
                    <br>
                        <button class="btn btn-lg btn-primary" type="submit">Login</button>
                    <a href="@{cliente/cadastro}">
                        <button class="btn btn-lg btn-secondary" type="button">Cadastre-se</button>
                    </a>
                </form>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>
</body>

</html>