<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div class="col-md-3">
            <div th:replace="fragments/fragments :: menu-adm"></div>
        </div>
        <div class="col-md-9">
            <div class="row col-md-12 justify-content-md-center">
                <h3>Detalhe Produto</h3>
            </div>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Cod</th>
                        <th scope="col">1</th>
                        <td><span th:class="${produto.habilitado==true?'text-success':'text-danger'}" th:text="${produto.habilitado==true?'Ativo':'Inativo'}">Ativo</span></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" colspan="2">Codigo</th>
                        <td th:text="${produto.notebook.codigo}"></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">nome</th>
                        <td th:text="${produto.notebook.marca + ' ' + produto.notebook.modelo}"></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Categoria</th>
                        <td th:text="${produto.notebook.categoria}"></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Custo</th>
                        <td th:text="${'R$' + #numbers.formatDecimal(produto.custo,3, 2,'COMMA')}"></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Processador</th>
                        <td th:text="${produto.notebook.cpu.modelo}">Intel® Core™ i7</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Placa de vídeo</th>
                        <td th:text="${produto.notebook.gpu.modelo}">GeForce® GTX 1650 (4GB GDDR6)</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Tela</th>
                        <td th:text="${produto.notebook.tela.tamanho + '” ' + produto.notebook.tela.clock + 'Hz'}">15.6” 120Hz</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Memória Principal</th>
                        <td><spam th:each="memoria : ${produto.notebook.ramList}"
                            th:text="${memoria.memoria + 'GB ' +  memoria.clock + 'GHz  '}"></spam></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Memória não volátil</th>
                        <td><spam th:each="memoria : ${produto.notebook.armazenamentoList}"
                            th:text="${memoria.memoria + 'GB ' +  memoria.tipoArmazenamento + '  '}"></spam></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Sistema Operacional</th>
                        <td th:text="${produto.notebook.so.getDescricao()}">Windows 10 Home Single Language</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Unidades em estoque</th>
                        <td th:text="${produto.estoque}">15</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Unidades em processamento</th>
                        <td>implementar</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Unidades vendidas</th>
                        <td>implementar</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Grupo de Precificação</th>
                        <td th:text="${produto.precificacao.nome}"></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Margem de Lucro</th>
                        <td th:text="${produto.precificacao.margemDeLucro}"></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2">Preco de Venda</th>
                        <td th:text="${'R$' + #numbers.formatDecimal(produto.precoDeVenda,3, 2,'COMMA')}"></td>
                    </tr>
                    <tr>
                        <th><a th:href="@{'/produto/negarHabilitado/' + ${produto.id}}">
                                <button th:text="${produto.habilitado?'Desativar':'Ativar'}"  class="btn btn-outline-warning">Desativar Produto</button>
                            </a>
                        </th>
                        <td><a th:href="@{'/produto/editar/' + ${produto.id}}">
                                <button class="btn btn-outline-primary">Editar Produto</button>
                            </a>
                        </td>
                        <td><a href="admGerenciarEstoque.html">
                            <button class="btn btn-outline-secondary">Gerenciar Estoque</button>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>




        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
        <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
        <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
        <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>
</body>

</html>