<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div class="col-md-3">
            <div th:replace="fragments/fragments :: menu-adm"></div>
        </div>
        <div class="col-md-9">
            <div class="row col-md-12 justify-content-md-center">
                <h3>Detalhe Pedido</h3>
            </div>
            <div th:replace="fragments/fragments :: compra-detail"></div>
            <div class="col-md-6"
                th:unless="${compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).REPROVADA 
                || compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).ENTREGUE 
                || compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).TROCA_NAO_AUTORIZADA
                || compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).EM_TROCA
                || compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).TROCA_AUTORIZADA
                || compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).TROCA_CONCLUIDA}">
                <a th:href="@{'/adm/pedidos/detalhe/' + ${compra.id} + '/nextStage' }">
                    <button class="btn btn-outline-primary">Concluir etapa!</button>
                </a>
                <!--reprovado, entregue, troca nao autorizada, troca autorizada-->
            </div>
            <div class="col-md-6"
                th:if="${compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).TROCA_AUTORIZADA}">
                <a th:href="@{'/adm/pedidos/detalhe/' + ${compra.id} + '/nextStage/troca/true' }">
                    <button class="btn btn-outline-success">Concluir Troca e repor estoque!</button>
                </a>
            </div>
            <div class="col-md-6"
                th:if="${compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).TROCA_AUTORIZADA}">
                <a th:href="@{'/adm/pedidos/detalhe/' + ${compra.id} + '/nextStage/troca/false' }">
                    <button class="btn btn-outline-danger">Concluir Troca e não repor estoque!</button>
                </a>
            </div>
            <div class="col-md-6"
                th:if="${compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).EM_TROCA}">
                <a th:href="@{'/adm/pedidos/detalhe/' + ${compra.id} + '/nextStage/troca/true' }">
                    <button class="btn btn-outline-success">Aceitar Troca!</button>
                </a>
            </div>
            <div class="col-md-6"
                th:if="${compra.status == T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.compra.Status).EM_TROCA}">
                <a th:href="@{'/adm/pedidos/detalhe/' + ${compra.id} + '/nextStage/troca/false' }">
                    <button class="btn btn-outline-danger">Recusar Troca!</button>
                </a>
            </div>
            <div class="col-md-6">
                <a th:href="@{/adm/pedidos}">
                    <button class="btn btn-outline-primary">Voltar</button>
                </a>
            </div>
        </div>

        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
        <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
        <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
        <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>
</body>

</html>