<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a href="#">
                    <img th:src="@{/img/logo.png}" class="img-fluid" alt="Imagem responsiva" style="height: 100px;">
                </a>
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <a href="#">
                            <ion-icon name="log-in-outline" size="large"></ion-icon>
                            <spam>login</spam>
                        </a>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <a href="#">
                            <ion-icon name="cart-outline" size="large"></ion-icon>
                            <span>carrinho</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-md-center">
        <!--Produto-->
        <form class="form-row col-md-8" th:action="@{/produto/cadastro}" th:object="${produto}" method="post">
            <div class="col-md-12">
                <h3>Cadastro Produto</h3>
                <br>
            </div>
            <input type="text" th:field="*{hash}" hidden>
            <div class="form-group col-md-4">
                <label>Custo</label>
                <input type="number" th:class="${#fields.hasErrors('custo')?'form-control is-invalid':'form-control'}"
                    placeholder="custo" th:field="*{custo}">
                <spam class="text-danger" th:if="${#fields.hasErrors('custo')}" th:errors="*{custo}">
                </spam>
            </div>
            <div class="form-group col-md-4">
                <label>Estoque</label>
                <input type="number" th:class="${#fields.hasErrors('estoque')?'form-control is-invalid':'form-control'}"
                    placeholder="estoque" th:field="*{estoque}">
                <spam class="text-danger" th:if="${#fields.hasErrors('estoque')}" th:errors="*{estoque}">
                </spam>
            </div>
            <div class="form-group col-md-4">
                <label>Adicional de pontuação do cliente:</label>
                <input type="number"
                    th:class="${#fields.hasErrors('pontuacaoCliente')?'form-control is-invalid':'form-control'}"
                    placeholder="pontuacaoCliente" th:field="*{pontuacaoCliente}">
                <spam class="text-danger" th:if="${#fields.hasErrors('pontuacaoCliente')}"
                    th:errors="*{pontuacaoCliente}">
                </spam>
            </div>

            <div class="form-row col-md-12 align-items-center justify-content-md-center" id="forms-documento">
                <div class="form-group col-md-9">
                    <h3>Imagens</h3>
                    <spam class="text-danger" th:if="${#fields.hasErrors('imagens')}" th:errors="*{imagens}">
                    </spam>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn" id="button-add-form-documento" type="submit" name="add" value="imagem">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </button>
                </div>
                <div th:each="imagem, i : *{imagens}"
                    class="form-row col-md-12 border align-items-center justify-content-md-center"
                    style="margin-top:10px">
                    <div class="form-group col-md-4">
                        <label>Link</label>
                        <input type="text"
                            th:class="${#fields.hasErrors('imagens[__${i.index}__].link')?'form-control is-invalid':'form-control'}"
                            placeholder="Link" th:field="*{imagens[__${i.index}__].link}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('imagens[__${i.index}__].link')}"
                            th:errors="*{imagens[__${i.index}__].link}"></spam>
                    </div>
                    <div class="form-group col-md-4">
                        <button class="btn btn-danger" type="submit" name="removeImagem"
                            th:value="${i.index}">Remover</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <h3>Notebook</h3>
                <br>
            </div>
            <div class="form-group col-md-12">
                <label>Codigo:</label>
                <input type="text"
                    th:class="${#fields.hasErrors('notebook.codigo')?'form-control is-invalid':'form-control'}"
                    placeholder="Codigo" th:field="*{notebook.codigo}">
                <spam class="text-danger" th:if="${#fields.hasErrors('notebook.codigo')}"
                    th:errors="*{notebook.codigo}">
                </spam>
            </div>
            <div class="form-group col-md-6">
                <label>Marca:</label>
                <input type="text"
                    th:class="${#fields.hasErrors('notebook.marca')?'form-control is-invalid':'form-control'}"
                    placeholder="Marca" th:field="*{notebook.marca}">
                <spam class="text-danger" th:if="${#fields.hasErrors('notebook.marca')}"
                    th:errors="*{notebook.marca}">
                </spam>
            </div>
            <div class="form-group col-md-6">
                <label>Modelo:</label>
                <input type="text"
                    th:class="${#fields.hasErrors('notebook.modelo')?'form-control is-invalid':'form-control'}"
                    placeholder="Modelo" th:field="*{notebook.modelo}">
                <spam class="text-danger" th:if="${#fields.hasErrors('notebook.modelo')}"
                    th:errors="*{notebook.modelo}">
                </spam>
            </div>

            <div class="form-group col-md-4">
                <label>CPU:</label>
                <input type="text"
                    th:class="${#fields.hasErrors('notebook.cpu.modelo')?'form-control is-invalid':'form-control'}"
                    placeholder="CPU" th:field="*{notebook.cpu.modelo}">
                <spam class="text-danger" th:if="${#fields.hasErrors('notebook.cpu.modelo')}"
                    th:errors="*{notebook.cpu.modelo}">
                </spam>
            </div>
            <div class="form-group col-md-4">
                <label>GPU:</label>
                <input type="text"
                    th:class="${#fields.hasErrors('notebook.gpu.modelo')?'form-control is-invalid':'form-control'}"
                    placeholder="GPU" th:field="*{notebook.gpu.modelo}">
                <spam class="text-danger" th:if="${#fields.hasErrors('notebook.gpu.modelo')}"
                    th:errors="*{notebook.gpu.modelo}">
                </spam>
            </div>

            <div class="form-group col-md-4">
                <label>Categoria</label>
                <select class="custom-select"
                    th:field="*{notebook.categoria}">
                    <option value="">Selecione a categoria do notebook</option>
                    <option
                        th:each="categoriaOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.notebook.Categoria).values()}"
                        th:class="${#fields.hasErrors('notebook.categoria')?'form-control is-invalid':'form-control'}"
                        th:value="${categoriaOpt}" th:text="${categoriaOpt.getDescricao()}"></option>
                </select>
                <spam class="text-danger"
                    th:if="${#fields.hasErrors('notebook.categoria')}"
                    th:errors="*{notebook.categoria}"></spam>
            </div>

            <div class="form-group col-md-4">
                <label>Tamanho tela:</label>
                <input type="text"
                    th:class="${#fields.hasErrors('notebook.tela.tamanho')?'form-control is-invalid':'form-control'}"
                    placeholder="tamanho" th:field="*{notebook.tela.tamanho}">
                <spam class="text-danger" th:if="${#fields.hasErrors('notebook.tela.tamanho')}"
                    th:errors="*{notebook.tela.tamanho}">
                </spam>
            </div>
            <div class="form-group col-md-4">
                <label>frequencia da tela em hz:</label>
                <input type="number"
                    th:class="${#fields.hasErrors('notebook.tela.clock')?'form-control is-invalid':'form-control'}"
                    placeholder="hz" th:field="*{notebook.tela.clock}">
                <spam class="text-danger" th:if="${#fields.hasErrors('notebook.tela.clock')}"
                    th:errors="*{notebook.tela.clock}">
                </spam>
            </div>

            <div class="form-group col-md-4">
                <label>Sistema Operacional</label>
                <select class="custom-select"
                    th:field="*{notebook.so}">
                    <option value="">Selecione o sistema operacional</option>
                    <option
                        th:each="soOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.notebook.SO).values()}"
                        th:class="${#fields.hasErrors('notebook.so')?'form-control is-invalid':'form-control'}"
                        th:value="${soOpt}" th:text="${soOpt.getDescricao()}"></option>
                </select>
                <spam class="text-danger"
                    th:if="${#fields.hasErrors('notebook.so')}"
                    th:errors="*{notebook.so}"></spam>
            </div>

            <div class="form-row col-md-12 align-items-center justify-content-md-center" id="forms-documento">
                <div class="form-group col-md-9">
                    <h3>Memória RAM</h3>
                    <spam class="text-danger" th:if="${#fields.hasErrors('notebook.ramList')}" th:errors="*{notebook.ramList}">
                    </spam>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn" id="button-add-form-documento" type="submit" name="add" value="ram">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </button>
                </div>
                <div th:each="ram, i : *{notebook.ramList}"
                    class="form-row col-md-12 border align-items-center justify-content-md-center"
                    style="margin-top:10px">
                    <div class="form-group col-md-5">
                        <label>Memória</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('notebook.ramList[__${i.index}__].memoria')?'form-control is-invalid':'form-control'}"
                            placeholder="Memória" th:field="*{notebook.ramList[__${i.index}__].memoria}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('notebook.ramList[__${i.index}__].memoria')}"
                            th:errors="*{notebook.ramList[__${i.index}__].memoria}"></spam>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Clock em hz</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('notebook.ramList[__${i.index}__].clock')?'form-control is-invalid':'form-control'}"
                            placeholder="Memória" th:field="*{notebook.ramList[__${i.index}__].clock}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('notebook.ramList[__${i.index}__].clock')}"
                            th:errors="*{notebook.ramList[__${i.index}__].clock}"></spam>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-danger" type="submit" name="removeRam"
                            th:value="${i.index}">Remover</button>
                    </div>
                </div>
            </div>

            <div class="form-row col-md-12 align-items-center justify-content-md-center" id="forms-documento">
                <div class="form-group col-md-9">
                    <h3>Armazenamento interno:</h3>
                    <spam class="text-danger" th:if="${#fields.hasErrors('notebook.armazenamentoList')}" th:errors="*{notebook.armazenamentoList}">
                    </spam>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn" id="button-add-form-documento" type="submit" name="add" value="armazenamento">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </button>
                </div>
                <div th:each="armazenamento, i : *{notebook.armazenamentoList}"
                    class="form-row col-md-12 border align-items-center justify-content-md-center"
                    style="margin-top:10px">
                    <div class="form-group col-md-5">
                        <label>Memória em GB</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('notebook.armazenamentoList[__${i.index}__].memoria')?'form-control is-invalid':'form-control'}"
                            placeholder="Memória" th:field="*{notebook.armazenamentoList[__${i.index}__].memoria}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('notebook.armazenamentoList[__${i.index}__].memoria')}"
                            th:errors="*{notebook.armazenamentoList[__${i.index}__].memoria}"></spam>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Tipo</label>
                        <select class="custom-select" id="tipoDocumento"
                            th:field="*{notebook.armazenamentoList[__${i.index}__].tipoArmazenamento}">
                            <option value="">Selecione o tipo do armazenamento</option>
                            <option
                                th:each="tipoArmazenamentoOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.notebook.TipoArmazenamento).values()}"
                                th:class="${#fields.hasErrors('notebook.armazenamentoList[__${i.index}__].tipoArmazenamento')?'form-control is-invalid':'form-control'}"
                                th:value="${tipoArmazenamentoOpt}" th:text="${tipoArmazenamentoOpt.getDescricao()}"></option>
                        </select>
                        <spam class="text-danger"
                            th:if="${#fields.hasErrors('notebook.armazenamentoList[__${i.index}__].tipoArmazenamento')}"
                            th:errors="*{notebook.armazenamentoList[__${i.index}__].tipoArmazenamento}"></spam>
                        <spam class="text-danger" th:if="${#fields.hasErrors('notebook.armazenamentoList[__${i.index}__]')}"
                            th:errors="*{notebook.armazenamentoList[__${i.index}__]}"></spam>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-danger" type="submit" name="removeArmazenamento"
                            th:value="${i.index}">Remover</button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label>Grupo de Precificacao</label>
                <input type="text" th:class="${#fields.hasErrors('precificacao.nome')?'form-control is-invalid':'form-control'}"
                    placeholder="Nome" th:field="*{precificacao.nome}">
                <spam class="text-danger" th:if="${#fields.hasErrors('precificacao.nome')}" th:errors="*{precificacao.nome}">
                </spam>
            </div>
            <div class="form-group col-md-4">
                <label>Margem de lucro</label>
                <input type="number" step="0.001" th:class="${#fields.hasErrors('precificacao.margemDeLucro')?'form-control is-invalid':'form-control'}"
                    placeholder="precificacao.margemDeLucro" th:field="*{precificacao.margemDeLucro}">
                <spam class="text-danger" th:if="${#fields.hasErrors('precificacao.margemDeLucro')}" th:errors="*{precificacao.margemDeLucro}">
                </spam>
            </div>

            <div class="form-group offset-md-8 col-md-4 align-bottom" style="text-align: right;">
                <button class="btn btn-primary" type="submit" id="btn-cadastrar"
                    th:text="${produto.hash!=null?'Editar':'Cadastrar'}"></button>
            </div>

        </form>
    </div>


    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>

</body>

</html>