<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a href="#">
                    <img th:src="@{/img/logo.png}" class="img-fluid" alt="Imagem responsiva" style="height: 100px;">
                </a>
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <a href="#">
                            <ion-icon name="log-in-outline" size="large"></ion-icon>
                            <spam>login</spam>
                        </a>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <a href="#">
                            <ion-icon name="cart-outline" size="large"></ion-icon>
                            <span>carrinho</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-md-center">
        <!--Cliente-->
        <form class="form-row col-md-8" th:action="@{/cliente/cadastro}" th:object="${clienteDTO}" method="post">
            <input type="text" id="usuario.tipoUsuario" name="usuario.tipoUsuario" value="CLIENTE" hidden>
            <div class="form-group col-md-12">
                <label for="inputNome">Nome</label>
                <input type="text"
                    th:class="${#fields.hasErrors('usuario.nome')?'form-control is-invalid':'form-control'}"
                    id="inputNome" placeholder="Nome" th:field="*{usuario.nome}">
                <spam class="text-danger" th:if="${#fields.hasErrors('usuario.nome')}" th:errors="*{usuario.nome}">
                </spam>
            </div>
            <div class="form-group col-md-4">
                <label for="tipoCliente">Tipo cliente</label>
                <select class="custom-select" id="tipoCliente" th:field="*{tipoCliente}">
                    <option value="">Selecione o tipo do cliente</option>
                    <option
                        th:each="tipoClienteOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.cliente.TipoCliente).values()}"
                        th:class="${#fields.hasErrors('tipoCliente')?'form-control is-invalid':'form-control'}"
                        th:value="${tipoClienteOpt}" th:text="${tipoClienteOpt.getDescricao()}"></option>
                </select>
                <spam class="text-danger" th:if="${#fields.hasErrors('tipoCliente')}" th:errors="*{tipoCliente}"></spam>
            </div>
            <div class="form-group col-md-4">
                <label for="genero">Genero</label>
                <select class="custom-select" id="genero" th:field="*{genero}">
                    <option value="">Selecione o tipo do cliente</option>
                    <option
                        th:each="generoOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.cliente.Genero).values()}"
                        th:class="${#fields.hasErrors('genero')?'form-control is-invalid':'form-control'}"
                        th:value="${generoOpt}" th:text="${generoOpt.getDescricao()}"></option>
                </select>
                <spam class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></spam>
            </div>
            <div class="form-group col-md-4">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" id="dataNascimento" th:field="*{dataNascimento}"
                    th:class="${#fields.hasErrors('dataNascimento')?'form-control is-invalid':'form-control'}">
                <spam class="text-danger" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">
                </spam>
            </div>
            <!--Telefone-->
            <div class="form-group col-md-4">
                <label for="ddd">DDD</label>
                <input type="number" id="ddd" th:field="*{telefone.ddd}" placeholder="ex: 011"
                    th:class="${#fields.hasErrors('telefone.ddd')?'form-control is-invalid':'form-control'}">
                <spam class="text-danger" th:if="${#fields.hasErrors('telefone.ddd')}" th:errors="*{telefone.ddd}">
                </spam>
            </div>
            <div class="form-group col-md-4">
                <label for="telefone-numero">Telefone</label>
                <input type="number" id="telefone-numero" th:field="*{telefone.numero}" placeholder="Telefone"
                    th:class="${#fields.hasErrors('telefone.numero')?'form-control is-invalid':'form-control'}">
                <spam class="text-danger" th:if="${#fields.hasErrors('telefone.numero')}"
                    th:errors="*{telefone.numero}"></spam>
            </div>
            <div class="form-group col-md-4">
                <label for="telefone-tipo">Tipo Telefone</label>
                <select class="custom-select" id="telefone-tipo" th:field="*{telefone.tipoTelefone}">
                    <option value="">Selecione o tipo do telefone</option>
                    <option
                        th:each="telefoneOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.telefone.TipoTelefone).values()}"
                        th:class="${#fields.hasErrors('telefone.tipoTelefone')?'form-control is-invalid':'form-control'}"
                        th:value="${telefoneOpt}" th:text="${telefoneOpt.getDescricao()}"></option>
                </select>
                <spam class="text-danger" th:if="${#fields.hasErrors('telefone.tipoTelefone')}"
                    th:errors="*{telefone.tipoTelefone}"></spam>
            </div>
            <!--Documento-->
            <div class="form-row col-md-12 align-items-center justify-content-md-center" id="forms-documento">
                <div class="form-group col-md-9">
                    <h3>Documentos</h3>
                    <spam class="text-danger" th:if="${#fields.hasErrors('documentos')}" th:errors="*{documentos}">
                    </spam>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn" id="button-add-form-documento" type="submit" name="add" value="documento">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </button>
                </div>
                <div th:each="documento, i : *{documentos}"
                    class="form-row col-md-12 border align-items-center justify-content-md-center"
                    style="margin-top:10px">
                    <div class="form-group col-md-4">
                        <label>Codigo</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('documentos[__${i.index}__].codigo')?'form-control is-invalid':'form-control'}"
                            placeholder="Codigo" th:field="*{documentos[__${i.index}__].codigo}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('documentos[__${i.index}__].codigo')}"
                            th:errors="*{documentos[__${i.index}__].codigo}"></spam>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Tipo</label>
                        <select class="custom-select" id="tipoDocumento"
                            th:field="*{documentos[__${i.index}__].tipoDocumento}">
                            <option value="">Selecione o tipo do documento</option>
                            <option
                                th:each="tipoDocumentoOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.documento.TipoDocumento).values()}"
                                th:class="${#fields.hasErrors('documentos[__${i.index}__].tipoDocumento')?'form-control is-invalid':'form-control'}"
                                th:value="${tipoDocumentoOpt}" th:text="${tipoDocumentoOpt.getDescricao()}"></option>
                        </select>
                        <spam class="text-danger"
                            th:if="${#fields.hasErrors('documentos[__${i.index}__].tipoDocumento')}"
                            th:errors="*{documentos[__${i.index}__].tipoDocumento}"></spam>
                        <spam class="text-danger" th:if="${#fields.hasErrors('documentos[__${i.index}__]')}"
                            th:errors="*{documentos[__${i.index}__]}"></spam>
                    </div>

                    <div class="form-group col-md-4">
                        <button class="btn btn-danger" type="submit" name="removeDocumento"
                            th:value="${i.index}">Remover</button>
                    </div>
                </div>
            </div>
            <!-----Cartao de credito-->
            <div class="form-row col-md-12 align-items-center justify-content-md-center" id="forms-documento">
                <div class="form-group col-md-9">
                    <h3>Cartões de Crédito</h3>
                    <spam class="text-danger" th:if="${#fields.hasErrors('cartoes')}" th:errors="*{cartoes}"></spam>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn" id="button-add-form-documento" type="submit" name="add" value="cartao">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </button>
                </div>
                <div th:each="cartao, i : *{cartoes}"
                    class="form-row col-md-12 border align-items-center justify-content-md-center"
                    style="margin-top:10px">
                    <div class="form-group col-md-5">
                        <label>Nome</label>
                        <input type="text"
                            th:class="${#fields.hasErrors('cartoes[__${i.index}__].nome')?'form-control is-invalid':'form-control'}"
                            placeholder="Nome" th:field="*{cartoes[__${i.index}__].nome}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('cartoes[__${i.index}__].nome')}"
                            th:errors="*{cartoes[__${i.index}__].nome}"></spam>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Bandeira</label>
                        <select class="custom-select" id="bandeira" th:field="*{cartoes[__${i.index}__].bandeira}">
                            <option value="">Selecione a bandeira do cartão</option>
                            <option
                                th:each="bandeiraOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.cartao.Bandeira).values()}"
                                th:class="${#fields.hasErrors('cartoes[__${i.index}__].bandeira')?'form-control is-invalid':'form-control'}"
                                th:value="${bandeiraOpt}"><span th:text="${bandeiraOpt.getDescricao()}"></span></option>
                        </select>
                        <spam class="text-danger" th:if="${#fields.hasErrors('cartoes[__${i.index}__].bandeira')}"
                            th:errors="*{cartoes[__${i.index}__].bandeira}"></spam>
                        <spam class="text-danger" th:if="${#fields.hasErrors('cartoes[__${i.index}__]')}"
                            th:errors="*{cartoes[__${i.index}__]}"></spam>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-danger" type="submit" name="removeCartao"
                            th:value="${i.index}">Remover</button>
                    </div>
                    <div class="form-group col-md-3">
                        <label>CVV</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('cartoes[__${i.index}__].cvv')?'form-control is-invalid':'form-control'}"
                            placeholder="Cvv" th:field="*{cartoes[__${i.index}__].cvv}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('cartoes[__${i.index}__].cvv')}"
                            th:errors="*{cartoes[__${i.index}__].cvv}"></spam>
                    </div>
                    <div class="form-group col-md-9">
                        <label>Numero</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('cartoes[__${i.index}__].numero')?'form-control is-invalid':'form-control'}"
                            placeholder="Numero" th:field="*{cartoes[__${i.index}__].numero}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('cartoes[__${i.index}__].numero')}"
                            th:errors="*{cartoes[__${i.index}__].numero}"></spam>
                    </div>
                </div>
            </div>
            <!--endereco--->
            <div class="form-row col-md-12 align-items-center justify-content-md-center" id="forms-endereco">
                <div class="form-group col-md-9">
                    <h3>Endereco</h3>
                    <spam class="text-danger" th:if="${#fields.hasErrors('enderecos')}" th:errors="*{enderecos}"></spam>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn" id="button-add-form-endereco" type="submit" name="add" value="endereco">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </button>
                </div>
                <div th:each="endereco, i : *{enderecos}"
                    class="form-row col-md-12 border align-items-center justify-content-md-center"
                    style="margin-top:10px">
                    <div class="form-group col-md-4">
                        <label>Longradouro</label>
                        <select class="custom-select" id="longradouro"
                            th:field="*{enderecos[__${i.index}__].longradouro}">
                            <option value="">Selecione o longradouro</option>
                            <option
                                th:each="longradouroOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.endereco.Longradouro).values()}"
                                th:class="${#fields.hasErrors('enderecos[__${i.index}__].longradouro')?'form-control is-invalid':'form-control'}"
                                th:value="${longradouroOpt}"><span th:text="${longradouroOpt.getDescricao()}"></span>
                            </option>
                        </select>
                        <spam class="text-danger" th:if="${#fields.hasErrors('enderecos[__${i.index}__].longradouro')}"
                            th:errors="*{enderecos[__${i.index}__].longradouro}"></spam>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Rua</label>
                        <input type="text"
                            th:class="${#fields.hasErrors('enderecos[__${i.index}__].rua')?'form-control is-invalid':'form-control'}"
                            placeholder="Rua" th:field="*{enderecos[__${i.index}__].rua}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('enderecos[__${i.index}__].rua')}"
                            th:errors="*{enderecos[__${i.index}__].rua}"></spam>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Numero</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('enderecos[__${i.index}__].numero')?'form-control is-invalid':'form-control'}"
                            placeholder="Numero" th:field="*{enderecos[__${i.index}__].numero}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('enderecos[__${i.index}__].numero')}"
                            th:errors="*{enderecos[__${i.index}__].numero}"></spam>
                    </div>
                    <div class="form-group col-md-4">
                        <label>CEP</label>
                        <input type="number"
                            th:class="${#fields.hasErrors('enderecos[__${i.index}__].cep')?'form-control is-invalid':'form-control'}"
                            placeholder="cep" th:field="*{enderecos[__${i.index}__].cep}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('enderecos[__${i.index}__].cep')}"
                            th:errors="*{enderecos[__${i.index}__].cep}"></spam>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Bairro</label>
                        <input type="text"
                            th:class="${#fields.hasErrors('enderecos[__${i.index}__].bairro')?'form-control is-invalid':'form-control'}"
                            placeholder="bairro" th:field="*{enderecos[__${i.index}__].bairro}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('enderecos[__${i.index}__].bairro')}"
                            th:errors="*{enderecos[__${i.index}__].bairro}"></spam>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Tipo de Residencia</label>
                        <select class="custom-select" id="tipoResidencia"
                            th:field="*{enderecos[__${i.index}__].tipoResidencia}">
                            <option value="">Selecione o tipo de residencia</option>
                            <option
                                th:each="tipoResidenciaOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.endereco.TipoResidencia).values()}"
                                th:class="${#fields.hasErrors('enderecos[__${i.index}__].tipoResidencia')?'form-control is-invalid':'form-control'}"
                                th:value="${tipoResidenciaOpt}"><span
                                    th:text="${tipoResidenciaOpt.getDescricao()}"></span></option>
                        </select>
                        <spam class="text-danger"
                            th:if="${#fields.hasErrors('enderecos[__${i.index}__].tipoResidencia')}"
                            th:errors="*{enderecos[__${i.index}__].tipoResidencia}"></spam>
                    </div>
                    <div class="form-group col-md-7">
                        <label>Cidade</label>
                        <input type="text"
                            th:class="${#fields.hasErrors('enderecos[__${i.index}__].cidade.nome')?'form-control is-invalid':'form-control'}"
                            placeholder="cidade" th:field="*{enderecos[__${i.index}__].cidade.nome}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('enderecos[__${i.index}__].cidade.nome')}"
                            th:errors="*{enderecos[__${i.index}__].cidade.nome}"></spam>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Estado</label>
                        <select class="custom-select" id="estado" th:field="*{enderecos[__${i.index}__].cidade.estado}">
                            <option value="">Estado</option>
                            <option
                                th:each="estadoOpt : ${T(com.sp.gov.fatec.les.lucasdonizeti.ecommercenotebook.endereco.Estado).values()}"
                                th:class="${#fields.hasErrors('enderecos[__${i.index}__].cidade.estado')?'form-control is-invalid':'form-control'}"
                                th:value="${estadoOpt}"><span th:text="${estadoOpt.getDescricao()}"></span></option>
                        </select>
                        <spam class="text-danger"
                            th:if="${#fields.hasErrors('enderecos[__${i.index}__].cidade.estado')}"
                            th:errors="*{enderecos[__${i.index}__].cidade.estado}"></spam>
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-danger" type="submit" name="removeEndereco"
                            th:value="${i.index}">Remover</button>
                    </div>
                </div>
            </div>
            <!--login-->
            <div class="form-group col-md-12">
                <label for="inputNome">Email</label>
                <input type="text"
                    th:class="${#fields.hasErrors('usuario.login')?'form-control is-invalid':'form-control'}"
                    id="inputNome" placeholder="Email" th:field="*{usuario.login}">
                <spam class="text-danger" th:if="${#fields.hasErrors('usuario.login')}" th:errors="*{usuario.login}">
                </spam>
            </div>
            <div class="form-group col-md-6">
                <label for="inputNome">Senha</label>
                <input type="text"
                    th:class="${#fields.hasErrors('usuario.senha')?'form-control is-invalid':'form-control'}"
                    id="inputNome" placeholder="Email" th:field="*{usuario.senha}">
                <spam class="text-danger" th:if="${#fields.hasErrors('usuario.senha')}" th:errors="*{usuario.senha}">
                </spam>
            </div>
            <div class="form-group col-md-6">
                <label for="senhaRepetida">Repita senha</label>
                <input type="text" name="senhaRepetida" th:class="${senhaDiferenteException!=null?'form-control is-invalid':'form-control'}" th:value="${senhaRepetida}">
                <spam th:text="${senhaDiferenteException}" class="text-danger"></spam>
            </div>



            <div class="form-group offset-md-8 col-md-4 align-bottom" style="text-align: right;">
                <button class="btn btn-primary" type="submit" id="btn-cadastrar"
                    th:text="${clienteDTO.usuario!=null?'Editar':'Cadastrar'}">Cadastrar</button>
            </div>
        </form>
    </div>


    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>

</body>

</html>