<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div th:replace="fragments/fragments :: menu-cli"></div>
        <div class="row col-md-9 align-items-center justify-content-md-center">
            <form th:action="@{/cliente/cli/mudarSenha}" method="post" th:object="${usuario}">
                <input type="text" th:field="*{id}" hidden>
                <div class="col-md-12">
                    <h3>Mudar Senha</h3>
                </div>
                <div class="form-row col-md-12">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                            <ion-icon name="alert-circle-outline"></ion-icon>
                            <spam>A senha deve ser composta de pelo menos 8 caracteres, ter letras maiúsculas e
                                minúsculas
                                além de conter caracteres especiais!</spam>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Senha atual</label>
                        <input type="text"
                            th:class="${#fields.hasErrors('antiga')?'form-control is-invalid':'form-control'}"
                            placeholder="Senha Antiga" th:field="*{antiga}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('antiga')}" th:errors="*{antiga}"></spam>
                        <spam th:text="${senhaErradaException}" class="text-danger"></spam>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputSenha1">Nova senha</label>
                        <input type="text"
                            th:class="${#fields.hasErrors('nova')?'form-control is-invalid':'form-control'}"
                            placeholder="Nova senha" th:field="*{nova}">
                        <spam class="text-danger" th:if="${#fields.hasErrors('nova')}" th:errors="*{nova}"></spam>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputSenha2">Repita a nova senha</label>
                        <input type="text"
                            th:class="${senhaDiferenteException!=null?'form-control is-invalid':'form-control'}"
                            placeholder="Repita a senha" th:field="*{repetida}">
                        <spam th:text="${senhaDiferenteException}" class="text-danger"></spam>
                    </div>

                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-6 align-items-center">
                        <label for="btnSalvar"><br></label>
                        <a th:href="@{/cliente/cli/perfil}">
                            <button class="btn btn-outline-danger form-control" id="btnSalvar">Cancelar</button>
                        </a>
                    </div>
                    <div class="form-group col-md-6 align-items-center">
                        <label for="btnSalvar"><br></label>
                        <button type="submit" class="btn btn-outline-success form-control"
                            id="btnSalvar">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>
</body>

</html>