<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a href="index.html">
                    <img src="../static/img/logo.png" class="img-fluid" alt="Imagem responsiva" style="height: 100px;">
                </a>
            </div>
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary">Pesquisar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6" style="text-align: center;">
                        <a th:href="@{/cliente/cli/perfil}">
                            <ion-icon name="person-circle-outline" size="large"></ion-icon>
                            <spam>Perfil</spam>
                        </a>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <a th:href="@{/cliente/carrinho}">
                            <ion-icon name="cart-outline" size="large"></ion-icon>
                            <span>carrinho</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div class="col-md-3">
            <div class="row">
                <div class="list-group col-md-12">
                    <button type="button" class="list-group-item list-group-item-action active">
                        <a th:href="@{/cliente/cli/perfil}" style="text-decoration: none; color: white;">
                            <ion-icon name="person-circle-outline"></ion-icon>
                            <span>Visão Geral</span>
                        </a>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <a th:href="@{/cliente/cli/editarPerfil}" style="text-decoration: none; color: blue;">
                            <ion-icon name="pencil-outline"></ion-icon>
                            Editar Perfil
                        </a>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <a th:href="@{/cliente/cli/mudarSenha}" style="text-decoration: none; color: blue;">
                            <ion-icon name="lock-open-outline"></ion-icon>
                            Mudar Senha
                        </a>
                    </button>
                    <button class="list-group-item list-group-item-action" type="button">
                        <a th:href="@{/cliente/cli/acompanharPedidos}" style="text-decoration: none; color: blue;">
                            <ion-icon name="bag-handle-outline"></ion-icon>
                            Acompanhar Pedidos
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <h3>Perfil</h3>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="row">Nome</th>
                            <td>Cliente Teste</td>
                        </tr>
                        <tr>
                            <th class="row">Email</th>
                            <td>teste@gmail.com</td>
                        </tr>
                        <tr>
                            <th class="row">Tipo</th>
                            <td>Pessoa Fisica</td>
                        </tr>
                        <tr>
                            <th class="row">Genero</th>
                            <td>Masculino</td>
                        </tr>
                        <tr>
                            <th class="row">Telefone</th>
                            <td>(011)985372928 - MOVEL</td>
                        </tr>
                        <tr>
                            <th class="row">Nascimento</th>
                            <td>26/07/2000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Endereços</th>
                            <th scope="col">
                                <a href="adicionarEndereco.html">
                                    <ion-icon name="home-outline"></ion-icon>
                                    Adicionar Endereço
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEndereco1"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="home-outline"></ion-icon>
                                        <span style="color:blue;"> Endereco 1</span>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseEndereco1" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">CEP</th>
                                                <td>08710-000</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Cidade</th>
                                                <td>Mogi das Cruzes</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Estado</th>
                                                <td>São Paulo</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Numero</th>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Longradouro</th>
                                                <td>Rua A</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Complemento</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Cartões de credito</th>
                            <th scope="col">
                                <a href="adicionarCartao.html">
                                    <ion-icon name="card-outline"></ion-icon>
                                    Adicionar Cartao de Credito
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCartao1"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="card-outline"></ion-icon>
                                        <span style="color:blue;"> Cartão 1</span>
                                    </button>
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCartao2"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="card-outline"></ion-icon>
                                        <span style="color:blue;"> Cartão 2</span>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseCartao1" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">Numero</th>
                                                <td>5527 7196 3092 8164</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Nome Impresso</th>
                                                <td>Cartao 1</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Bandeira</th>
                                                <td>
                                                    <img src="https://www.4devs.com.br/imagens/cc/logo_master.jpg">
                                                    Mastercard
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="collapseCartao2" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">Numero</th>
                                                <td>5527 7196 3092 8164</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Nome Impresso</th>
                                                <td>Cartao 2</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Bandeira</th>
                                                <td>
                                                    <img src="https://www.4devs.com.br/imagens/cc/logo_amex.jpg">
                                                    Mastercard
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Documentos</th>
                            <th scope="col">
                                <a href="adicionarCartao.html">
                                    <ion-icon name="card-outline"></ion-icon>
                                    Adicionar Documento
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDoc1"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="card-outline"></ion-icon>
                                        <span style="color:blue;"> RG</span>
                                    </button>
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDoc2"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="card-outline"></ion-icon>
                                        <span style="color:blue;"> CPF</span>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseDoc1" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">Tipo</th>
                                                <td>RG</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Codigo</th>
                                                <td>391257699</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="collapseDoc2" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">Tipo</th>
                                                <td>CPF</td>
                                            </tr>
                                            <tr>
                                                <th class="row">Codigo</th>
                                                <td>29683745083</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>
</body>

</html>