<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.css}">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div th:replace="fragments/fragments :: menu-cli"></div>
        <div class="col-md-9">
            <div class="col-md-12">
                <h3>Perfil</h3>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="row">Nome</th>
                            <td th:text="${cliente.usuario.nome}"></td>
                        </tr>
                        <tr>
                            <th class="row">Email</th>
                            <td th:text="${cliente.usuario.login}"></td>
                        </tr>
                        <tr>
                            <th class="row">Tipo</th>
                            <td th:text="${cliente.tipoCliente.getDescricao()}"></td>
                        </tr>
                        <tr>
                            <th class="row">Genero</th>
                            <td th:text="${cliente.genero.getDescricao()}"></td>
                        </tr>
                        <tr>
                            <th class="row">Telefone</th>
                            <td
                                th:text="${'(' + cliente.telefone.ddd + ') ' + cliente.telefone.numero + ' - ' + cliente.telefone.tipoTelefone.getDescricao()}">
                            </td>
                        </tr>
                        <tr>
                            <th class="row">Nascimento</th>
                            <td th:text="${#temporals.format(cliente.dataNascimentoDto, 'dd/MM/yyyy')}">26/07/2000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Endereços</th>
                            <th scope="col">
                                <a href="adicionarEndereco.html">
                                    <ion-icon name="home-outline"></ion-icon>
                                    Adicionar Endereço
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button th:each="endereco, i : ${cliente.enderecos}" class="btn btn-link"
                                        data-toggle="collapse" th:data-target="${'#collapseEndereco' + i.index}"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="home-outline"></ion-icon>
                                        <span th:text="${endereco.rua + ', ' + endereco.numero}"
                                            style="color:blue;"></span>
                                    </button>
                                </h5>
                            </div>

                            <div th:each="endereco, i : ${cliente.enderecos}" th:id="${'collapseEndereco' + i.index}"
                                class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">CEP</th>
                                                <td th:text="${cliente.enderecos[__${i.index}__].cep}"></td>
                                            </tr>
                                            <tr>
                                                <th class="row">Cidade</th>
                                                <td th:text="${cliente.enderecos[__${i.index}__].cidade.nome}"></td>
                                            </tr>
                                            <tr>
                                                <th class="row">Estado</th>
                                                <td
                                                    th:text="${cliente.enderecos[__${i.index}__].cidade.estado.getDescricao()}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <th class="row">Rua</th>
                                                <td
                                                    th:text="${ cliente.enderecos[__${i.index}__].rua + ', ' + cliente.enderecos[__${i.index}__].numero}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="row">Bairro</th>
                                                <td th:text="${cliente.enderecos[__${i.index}__].bairro}"></td>
                                            </tr>
                                            <tr>
                                                <th class="row">Longradouro</th>
                                                <td
                                                    th:text="${cliente.enderecos[__${i.index}__].longradouro.getDescricao()}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="row">Complemento</th>
                                                <td
                                                    th:text="${cliente.enderecos[__${i.index}__].tipoResidencia.getDescricao()}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Cartões de credito</th>
                            <th scope="col">
                                <a href="adicionarCartao.html">
                                    <ion-icon name="card-outline"></ion-icon>
                                    Adicionar Cartao de Credito
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button th:each="cartao, i : ${cliente.cartoes}" class="btn btn-link"
                                        data-toggle="collapse" th:data-target="${'#collapseCartao' + i.index}"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="card-outline"></ion-icon>
                                        <span th:text="${cartao.nome}" style="color:blue;"> Cartão 1</span>
                                    </button>
                                </h5>
                            </div>

                            <div th:each="cartao, i : ${cliente.cartoes}" th:id="${'collapseCartao' + i.index}"
                                class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">Numero</th>
                                                <td th:text="${cliente.cartoes[__${i.index}__].numero}"></td>
                                            </tr>
                                            <tr>
                                                <th class="row">Nome Impresso</th>
                                                <td th:text="${cliente.cartoes[__${i.index}__].nome}"></td>
                                            </tr>
                                            <tr>
                                                <th class="row">Bandeira</th>
                                                <td>
                                                    <img
                                                        th:src="${cliente.cartoes[__${i.index}__].bandeira.getImagem()}">
                                                    <span
                                                        th:text="${cliente.cartoes[__${i.index}__].bandeira.getDescricao()}"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Documentos</th>
                            <th scope="col">
                                <a href="adicionarCartao.html">
                                    <ion-icon name="card-outline"></ion-icon>
                                    Adicionar Documento
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button th:each="documento, i : ${cliente.documentos}" class="btn btn-link"
                                        data-toggle="collapse" th:data-target="${'#collapseDoc' + i.index}"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ion-icon name="card-outline"></ion-icon>
                                        <span th:text="${documento.tipoDocumento.getDescricao()}"
                                            style="color:blue;"></span>
                                    </button>
                                </h5>
                            </div>

                            <div th:each="documento, i : ${cliente.documentos}" th:id="${'collapseDoc' + i.index}"
                                class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="row">Tipo</th>
                                                <td
                                                    th:text="${cliente.documentos[__${i.index}__].tipoDocumento.getDescricao()}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="row">Codigo</th>
                                                <td th:text="${cliente.documentos[__${i.index}__].codigo}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script th:src="@{\js\plugins\jquery-3.3.1\jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-4.1.3/bootstrap.min.js}"></script>
</body>

</html>